<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/dangky.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <!-- left -->
           <div class="left">
                <div class="content-left">
                    <div class="texts">
                        <p><span>Trang chủ</span> » <span>Hướng dẫn</span> » Hướng Dẫn Đăng Ký nextbet Chi Tiết Và Nhanh Chóng Nhất</p>
                        <h1>Hướng Dẫn Đăng Ký nextbet Chi Tiết Và Nhanh Chóng Nhất</h1>
                    </div>
                    <div class="time">
                        <span><img src="../img/icon.jpg" alt=""></span>
                        <span>nextbet</span>
                        <span><i class="fa-regular fa-clock"></i></span>
                        <span>7:51 chiều</span>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 49.png" alt="">
                    </div>
                    <div class="texts">
                        <p>
                            Nếu là tín đồ của các bộ môn cá cược thì chắc hẳn anh em đã không còn quá xa lạ với nhà cái nextbet. Đây được đánh giá là địa điểm cá cược trực tuyến hàng đầu tại châu Á. Nhà cái cung cấp đa dạng các sản phẩm casino trực tuyến, cá độ thể thao, bắn cá, đá gà online, xổ số lô đề,… Tất cả các trò chơi tại đây đều được người chơi nhiệt tình săn đón và đánh giá rất cao. Trong bài viết dưới đây, chúng tôi sẽ hướng dẫn chi tiết cách <span>đăng ký nextbet</span> để người chơi có được những giải phút giải trí tuyệt vời tại đây nhé.
                        </p>
                    </div>
                    <h2>1. Lý do nên sở hữu tài khoản cá cược tại nhà cái nextbet</h2>
                    <div class="texts">
                        <p>
                            nextbet để lại ấn tượng khó quên trong tâm trí người chơi với các ưu điểm nổi bật dưới đây.
                        </p>
                    </div>
                    <h3>1.1. Đa dạng các trò chơi hấp dẫn, kịch tính</h3>
                    <div class="images">
                        <img src="../img/Artboard 51.png" alt="">
                        <p>Đa dạng các trò chơi hấp dẫn, kịch tính</p>
                    </div>
                    <div class="texts">
                        <p>
                            So với nhiều nhà cái khác trên thị trường châu Á, kho game tại nextbet được đầu tư rất mạnh tay. Hiện nay, nhà cái cho ra mắt vô vàn các thể loại game hấp dẫn, kịch tính khác nhau. Bao gồm: cá độ thể thao, casino live, bắn cá trực tuyến, xổ số lô đề,… Đến với nextbet, người chơi được thỏa thích lựa chọn và trải nghiệm các tựa game mà mình yêu thích.
                        </p>
                    </div>
                    <h3>1.2. Số lượng lớn các chương trình khuyến mãi cực khủng</h3>
                    <div class="texts">
                        <p>
                            nextbet không chỉ gây ấn tượng với anh em bởi kho game đa dạng, phong phú. Các chương trình khuyến mãi cũng được xem là một trong những điểm nhấn đặc biệt tại nhà cái. Tại đây, có vô vàn các chương trình khuyến mãi hấp dẫn mà người chơi nhất định không được bỏ qua. Chúng được tạo ra với mục đích tri ân tất cả anh em cược thủ đã tin tưởng và ủng hộ tham gia cá cược tại nhà cái.
                        </p>
                    </div>
                    <h3>1.3. Nhân viên nhiệt tình, tận tâm</h3>
                    <div class="texts">
                        <p>
                            Khi đến với nextbet, rất nhiều anh em đã để lại phản hồi tích cực về dịch vụ chăm sóc khách hàng tại đây. Đội ngũ nhân viên được trang bị đầy đủ các kiến thức chuyên môn, có nhiều năm kinh nghiệm. Với thái độ nhiệt tình, chu đáo, bộ phận chăm sóc khách hàng hoạt động 24/7, cả những dịp lễ tết lớn trong năm. Chúng tôi sẵn sàng tư vấn, hỗ trợ, giải đáp mọi thắc mắc hay khó khăn mà cược thủ đang gặp phải trong thời gian nhanh nhất có thể.
                        </p>
                    </div>
                    <h2>2. Hướng dẫn các bước đăng ký tài khoản nextbet đầy đủ nhất</h2>
                    <div class="texts">
                        <p>
                            Để có thể tham gia vào các trò chơi đỉnh cao, hấp dẫn có tại nextbet. Việc đầu tiên mà người chơi cần thực hiện đó là tiến hành đăng ký nextbet. Đây là bước vô cùng quan trọng. Trong quá trình đăng ký, không ít anh em tân thủ gặp phải các khó khăn. Hãy cùng theo dõi theo dõi thông tin dưới đây để tối ưu thời gian đăng ký tài khoản nextbet.
                        </p>
                    </div>
                    <h3>2.1. Đăng ký nextbet trên điện thoại</h3>
                    <div class="texts">
                        <p>
                            Các bước đăng ký nextbet trên điện thoại gồm có 3 thao tác đơn giản sau đây:
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 52.png" alt="">
                        <p>Đăng ký nextbet trên điện thoại</p>
                    </div>
                    <h3>Bước 1: Truy cập nextbet và nhập số điện thoại di động để được nhận mã xác nhận</h3>
                    <div class="texts">
                        <p>
                            Để truy cập vào trang chủ nextbet, người chơi chỉ việc nhấn vào đường link cho chính nhà cái: <span>https://nextbet.dog</span>. Sau đó, nhấn chọn mục “Đăng ký” ở giao diện. Nhập đầy đủ, chính xác số điện thoại di động và click vào ô gửi mã. Hệ thống sẽ tiến hành gửi mã xác nhận về thiết bị cho anh em.
                        </p>
                    </div>
                    <h3>Bước 2: Điền đầy đủ, chính xác thông tin trong biểu mẫu theo yêu cầu</h3>
                    <div class="texts">
                        <p>
                            Sau khi nhận mã xác nhận, tại giao diện màn hình sẽ hiển thị biểu mẫu với các ô thông tin. Nhiệm vụ của người chơi là đọc kỹ, điền đầy đủ và chính xác dữ liệu mà nextbet yêu cầu. 
                        </p>
                    </div>
                    <h3>Bước 3: Xác nhận đồng ý với tất cả điều kiện mà nextbet đưa ra</h3>
                    <div class="texts">
                        <p>
                            Người chơi nhấn chọn vào ô xác nhận “Tôi đã đủ tuổi hợp pháp và đồng ý với mọi <span>điều khoản và điều kiện</span> của nhà cái nextbet″ Cuối cùng, ấn “Đăng ký ngay” để mọi tất thao tác mở tài khoản cá cược tại nhà cá
                        </p>
                    </div>
                    <h3>2.2. Đăng ký nextbet cho PC</h3>
                    <div class="texts">
                        <p>
                            Khi đăng ký tài khoản nextbet trên máy tính, cược thủ được tối giản hóa các bước. Tuy nhiên, vẫn đảm bảo được tính bảo mật cao. Sau đây, nextbet hướng dẫn anh em đăng ký tài khoản trên máy tính chỉ với 3 bước nhanh chóng.
                        </p>
                    </div>
                    <div class="img-center">
                        <div class="images">
                            <img src="../img/Artboard 53.png" alt="">
                            <p>Đăng ký nextbet cho PC</p>
                        </div>
                    </div>
                    <h3>Bước 1: Truy cập nextbet và đăng ký</h3>
                    <div class="texts">
                        <p>
                            Truy cập vào đường link liên kết được cung cấp bởi nextbet để đi đến giao diện trang chủ. Tiếp đó, chọn mục Đăng ký.
                        </p>
                    </div>
                    <h3>Bước 2: Điền tất cả thông tin đăng ký theo yêu cầu nextbet đưa ra</h3>
                    <div class="texts">
                        <p>
                            Người chơi tiến hành điền đầy đủ và chính xác thông tin theo đúng yêu cầu mà nextbet đưa ra trên biểu mẫu. Cụ thể:
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Tên tài khoản thành viên</li>
                        <li>Mật khẩu</li>
                        <li>Xác nhận lại mật khẩu</li>
                        <li>Số điện thoại liên lạc</li>
                        <li>Mã xác minh</li>
                    </ul>
                    <h3>Bước 3: Click xác nhận hoàn thành các thủ tục trong quá trình đăng ký nextbet</h3>
                    <div class="texts">
                        <p>
                            Tích vào ô vuông “Tôi đã đủ tuổi hợp pháp và đồng ý với mọi điều kiện mở tài khoản nextbet”. Cuối cùng, nhấn chọn xác nhận hoàn thành quá trình tạo tài khoản cá cược.
                        </p>
                    </div>
                    <h2>3. Khuyến mãi tân thủ khi đăng ký tài khoản nextbet</h2>
                    <div class="texts">
                        <p>
                            nextbet đã xây dựng lên những chương trình khuyến mãi để tri ân tất cả thành viên tại nhà cái. Sự đa dạng, phong phú trong các ưu đãi đã giúp nextbet Games thu hút được rất nhiều người tham gia. Bao gồm cả những người chơi mới cho đến những lão làng đầy kinh nghiệm.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 54.png" alt="">
                        <p>Khuyến mãi tân thủ khi đăng ký tài khoản nextbet</p>
                    </div>
                    <ul class="lest">
                        <li>Tặng 100% giá trị thẻ nạp đối với lần nạp đầu tiên: Đây là món quà tri ân mà nextbet muốn dành tặng tất cả người chơi mới. Nhà cái tặng 100% giá trị thẻ nạp đối với lần nạp lần đầu. </li>
                        <li>Ưu đãi thêm 20% với lần nạp thứ 2: nextbet luôn dành sự quan tâm đặc biệt đến lợi ích của người chơi. Do đó, chúng tôi đã tung ra chương trình khuyến mãi tặng thêm 20% giá trị thẻ nạp đối với lần nạp thứ hai.</li>
                        <li>Chính sách hoàn trả không giới hạn: Để thể hiện sự tâm huyết đối với người chơi, nextbet cho ra mắt chương trình hoàn trả không giới hạn. Ấn tượng với tỷ lệ hoàn trả lên đến 1,5%, nextbet đã vượt trội hơn so với những tên tuổi khác trên thị trường. Đặc biệt, chính sách hoàn trả này không giới hạn số lượng cũng như thời gian nhận thưởng. Dù thắng hay thua, anh em đều có cơ hội hoàn trả tiền cược. </li>
                        <li>Ưu đãi độc quyền dành riêng cho ngày sinh nhật: Tại nextbet, người chơi được nhận ngay 100k vào ngày sinh nhật của mình. Đây không chỉ đơn giản là món quà tri ân mà nó còn tạo ra các khoảnh khắc ý nghĩa. Thông qua ngày sinh mà người chơi cung cấp, nextbet sẽ tự động thưởng 100k vào tài khoản cá cược.</li>
                    </ul>
                    <h2>4. Lưu ý cần ghi nhớ khi đăng ký tài khoản nextbet </h2>
                    <div class="texts">
                        <p>
                            Để quá trình đăng ký tài khoản được nhanh chóng. Đồng thời, tránh được các rủi ro không mong muốn. Người chơi hãy lưu ý một số điểm quan trọng mà nextbet chia sẻ phía dưới đây: 
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 55.png" alt="">
                        <p>Lưu ý cần ghi nhớ khi đăng ký tài khoản nextbet</p>
                    </div>
                    <ul class="lest">
                        <li>Nhập đầy đủ, chính xác thông tin: Đây là một lưu ý vô cùng quan trọng. Bởi những thông tin dữ liệu này sẽ gây ảnh hưởng trực tiếp đến tất cả hoạt động của người anh em sau này. Cụ thể, trước khi thực hiện thao tác nạp hay rút tiền, nhận các khuyến mãi. Nhà cái luôn xác thực lại các thông tin của người dùng.</li>
                        <li>Check lại email sau khi hoàn thành đăng ký: Anh em phải kiểm tra email ngay khi hoàn tất quá trình đăng ký. Đây là bước dùng để xác thực tài khoản và nhận những thông báo quan trọng từ nextbet. Để đảm bảo không bỏ lỡ bất kỳ thông tin quan trọng nào. Người chơi phải thường xuyên kiểm tra tin nhắn trong mục thư rác.</li>
                        <li>Liên hệ ngay với nhân viên chăm sóc khách hàng khi gặp khó khăn: Dịch vụ chăm sóc khách hàng của nextbet hoạt động 24/7 để hỗ trợ và tư vấn khách hàng. </li>
                        <li>Tuyệt đối không được chia sẻ hay để lộ những thông tin đăng ký ra bên ngoài: Dù là người thân trong gia đình hoặc bạn bè. Nếu có rủi ro gì xảy ra liên quan đến việc tiết lộ thông tin, nhà cái nextbet sẽ không có trách nhiệm giải quyết.</li>
                    </ul>
                    <h2>5. FAQs - Những câu hỏi thường gặp trong quá trình đăng ký nextbet</h2>
                    <div class="texts">
                        <p>
                            Vì số lượng người truy cập hàng ngày là rất lớn. Do đó, nhà cái nextbet nhận được vô vàn các thắc mắc từ phía người chơi. Sau đây, nextbet sẽ giải đáp cụ thể.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 56.png" alt="">
                        <p>FAQ – Câu hỏi thường gặp trong quá trình đăng ký nextbet</p>
                    </div>
                    <h3>5.1. Tại sao nên đăng ký nextbet</h3>
                    <div class="texts">
                        <p>
                            Khi đăng ký tài khoản cá cược tại nextbet. Người chơi được thỏa thích tận hưởng kho game đa dạng, hấp dẫn và rinh về những phần quà cực khủng từ các chương trình khuyến mãi. Ngoài ra, khi tham gia cá cược thông tin của anh em đều được bảo mật an toàn tuyệt đối. Các thao tác nạp và rút tiền được thực hiện một cách vô cùng nhanh chóng, đơn giản. 
                        </p>
                    </div>
                    <h3>5.2. Có mất phí khi đăng ký tài khoản tham gia nextbet không?</h3>
                    <div class="texts">
                        <p>
                            Đây là một trong những câu hỏi được rất nhiều các anh em tân thủ đặt ra. Khi tham gia trải nghiệm đăng ký tài khoản tại nhà cái nextbet anh em không mất bất kỳ khoản phí nào. Bên cạnh đó, còn được hỗ trợ, giải đáp các thắc mắc nhanh chóng.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Trường hợp anh em thấy xuất hiện tình trạng nhà cái nextbet yêu cầu thu phí trong quá trình đăng ký. Lúc này, người chơi phải lập tức đổi địa chỉ truy cập để tránh rủi ro.
                        </p>
                    </div>
                    <H3>5.3. Mỗi người chơi được đăng ký bao nhiêu tài khoản cá cược tại nhà cái nextbet?</H3>
                    <div class="texts">
                        <p>
                            Tại nextbet, anh em không được tạo nhiều tài khoản trong một thời điểm. Nếu bị hệ thống phát hiện thông tin đăng ký bị trùng lặp với tài khoản trước đó. Yêu cầu tạo tài khoản cá cược của người chơi sẽ không được thực hiện. Đây là một phần quan trọng nằm trong chính sách bảo vệ quyền lợi của các thành viên tại nhà cái nextbet. Chúng tôi khuyến nghị người chơi tuân thủ theo đúng quy định đã được đề ra.
                        </p>
                    </div>
                    <H3>5.4. Điều kiện đăng ký tài khoản là gì?</H3>
                    <ul class="lest">
                        <li>Người chơi phải đủ 18 tuổi trở lên mới có thể tham gia đăng ký nextbet. Đồng thời, anh em phải chịu mọi trách nhiệm trước các hành vi của bản thân.</li>
                        <li>Người chơi không có tiền án, tiền sự cũng như không dính dáng đến các vấn đề có liên quan đến pháp luật.</li>
                        <li>Tất cả thông tin đăng ký phải đầy đủ, chính xác để tạo điều kiện thuận lợi cho quá trình xác minh nạp rút tiền.</li>
                        <li>nextbet khuyến cáo người chơi chỉ nên nạp tiền trong phạm vi tài chính của bản thân.</li>
                    </ul>
                    <H2>6. Kết luận</H2>
                    <div class="texts">
                        <p>
                            Trong bài viết phía trên, nextbet đã chia sẻ tới anh em những thông tin cụ thể về cách đăng ký nextbet . Đây chắc chắn sẽ trở thành điểm đến lý tưởng mà người chơi có thể yên tâm trao niềm tin. 
                        </p>
                    </div>
                </div>
           </div>
           <!-- rigth -->
           <div class="rigth">
            <div class="content-rigth">
                <div class="folder">
                    <span><i class="fa-regular fa-folder-open"></i> CHUYÊN MỤC</span>
                </div>
                <div class="links-rigth">
                    <div class="links">
                        <div class="text">
                            <a href="../components/cas.html"><i class="fa-solid fa-chevron-right"></i> Casino</a>
                        </div>
                        <div class="number">
                            <a href="#">(33)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/da.html"><i class="fa-solid fa-chevron-right"></i> Đá gà</a>
                        </div>
                        <div class="number">
                            <a href="#">(18)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/hu.html"><i class="fa-solid fa-chevron-right"></i> Hướng dẫn</a>
                        </div>
                        <div class="number">
                            <a href="#">(4)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/the.html"><i class="fa-solid fa-chevron-right"></i> Thể thao</a>
                        </div>
                        <div class="number">
                            <a href="#">(22)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/xo.html"><i class="fa-solid fa-chevron-right"></i> Xổ số</a>
                        </div>
                        <div class="number">
                            <a href="#">(10)</a>
                        </div>                        
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-database"></i> BÀI VIẾT MỚI NHẤT</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 18.png" alt="">
                        </div>
                        <div class="desc">
                            Khám Phá Chi Tiết Dòng Gà Chọi Hắc Hổ Thới Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Cực Chuẩn Cách Xem Tướng Gà Chọi Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 95.png" alt="">
                        </div>
                        <div class="desc">
                            Đề Chạm Là Gì? Thể Loại Và Cách Chơi Chắc Thắng Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 20.png" alt="">
                        </div>
                        <div class="desc">
                            Gà Ngũ Sắc Là Gì? Cách Phân Biệt và Nơi Mua Uy Tín Tại nextbet
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-check"></i></i> BÀI VIẾT CÙNG CHỦ ĐỀ</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">                              Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-regular fa-star"></i> HƯỚNG DẪN HỘI VIÊN
                    </span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 47.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">               
                        Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 49.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Đăng Ký nextbet Chi Tiết Và Nhanh Chóng Nhất
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>