<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/die.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
            <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <div class="texts">
                <p><span>Trang chủ</span> »  Điều khoản và điều kiện</p>
            </div>
            <h1>ĐIỀU KHOẢN VÀ ĐIỀU KIỆN</h1>
            <div class="tetxs">
                <p>
                    Bất kỳ nhà cái nào khi cung cấp dịch vụ cá cược trực tuyến đều đưa ra các <span>điều khoản và điều kiện.</span> Anh em phải tuân thủ theo những quy tắc đã được đề ra. Việc làm này góp phần tạo nên một sân chơi có tính công bằng và minh bạch. nextbet cũng là trường hợp không ngoại lệ. Trong bài viết dưới đây, nextbet sẽ cung cấp đầy đủ các thông tin mà người chơi phải tuân thủ.
                </p>
            </div>
            <div class="image">
                <img src="../img/Artboard 34.png" alt="">
            </div>
            <h2>1. Mục tiêu hướng đến của điều khoản và điều kiện</h2>
            <div class="texts">
                <p>
                    Để nextbet.Games thuận lợi hơn trong việc quản lý các hoạt động của người chơi. Đồng thời, tạo nên sân chơi cá cược an toàn, công bằng và minh bạch. Nhà cái đã đã xây dựng nên các quy định về an toàn. Trường hợp vi phạm các quy định được đề ra, anh em sẽ bị cấm tham gia cá cược. Đồng thời, chịu mọi trách nhiệm cho hành vi đã gây ra.
                </p>
            </div>
            <h2>2. Chấp nhận mọi điều khoản và điều kiện sử dụng</h2>
            <div class="texts">
                <p>
                    Trước khi đặt chân vào sân chơi cá cược trực tuyến nextbet. Anh em phải tìm hiểu về điều khoản và điều kiện tại đây. Việc này sẽ giúp game thủ hình dung được các quy định cần phải thực hiện theo. Nếu như cảm thấy chúng phù hợp với bản thân. Cược thủ có thể chọn địa chỉ này để tham gia cá cược trực tuyến.
                </p>
            </div>
            <h2>3. Chấp nhận đồng ý với các điều khoản và điều kiện</h2>
            <div class="texts">
                <p>
                    Khi tham gia vào các trò chơi tại nextbet. Anh em bắt buộc phải có tài khoản cá cược riêng. Trường hợp là thành viên mới, anh em có thể tiến hành đăng ký. Quá trình tạo tài khoản chỉ được thực hiện thành công nếu người chơi chấp nhận mọi điều khoản và điều kiện. Đồng nghĩa với việc cược thủ sẽ tuân thủ đúng các quy định trong quá trình trải nghiệm dịch vụ nextbet. Nếu vi phạm, phải chịu tất cả hình phạt do nhà cái đưa ra. 
                </p>
            </div>
            <h2>4. Thông tin cá nhân của người chơi</h2>
            <div class="texts">
                <p>
                    Trong mục điều khoản và điều kiện khi tham gia cá cược tại nhà cái nextbet. Người chơi phải cung cấp đầy đủ, chính xác thông tin cá nhân. Việc này sẽ giúp ích trong quá trình quản lý và đảm bảo an toàn cho bet thủ khi trải nghiệm dịch vụ ở sân chơi nextbet. Đồng thời, bet thủ sẽ nhận được tất cả các quyền lợi vốn có.
                </p>
            </div>
            <div class="texts">
                <p>
                    Anh em hoàn toàn có thể yên tâm khi cung cấp tất cả thông tin cá nhân cho nhà cái nextbet. Bởi sân chơi đã trang bị hệ thống bảo mật vô cùng hiện đại. Hệ thống mã hóa 128 ssl được nhà cái ưu tiên sử dụng. Ngoài ra, nhà cái cam kết sẽ không cung cấp cũng như tiết lộ dữ liệu của người chơi cho bên thứ 3 với mục đích chuộc lợi. Mọi thông tin cá nhân của anh em tại đây đều được giữ an toàn và bảo mật một cách tuyệt đối.
                </p>
            </div>
            <h2>5. Nghiêm cấm những hành vi gian lận</h2>
            <div class="texts">
                <p>
                    Như đã đề cập phía trên, nextbet đã thành lập các điều khoản và điều kiện với mục đích tạo nên ranh rới cá cược an toàn cho người tham gia. Nhiệm vụ của anh em là phải tìm hiểu và nắm chắc những quy định đã được đặt ra. Việc này sẽ giúp đảm bảo an toàn cho người chơi trong quá trình chơi game trực tuyến tại nhà cái. nextbet nghiêm cấm mọi hành vi gian lận, lừa đảo. Chúng có thể gây tổn thất nghiêm trọng đến hình ảnh của nhà cái cũng như những thành viên khác. 
                </p>
            </div>
            <div class="texts">
                <p>
                    Trường hợp phát hiện người chơi có các biểu hiện hay hành vi trái với quy định nhà cái đưa ra. Anh em sẽ phải chịu toàn bộ trách nhiệm cho hậu quả của mình. Đồng thời, chấp nhận mọi hình phạt mà nextbet đề ra. Trên thực tế, hình phạt nặng nề nhất dành cho những người chơi gian lận đó là khoá tài khoản cá nhân. Đồng thời, không được phép tham gia vào các hoạt động cá cược tại nhà cái vĩnh viễn.
                </p>
            </div>
            <div class="texts">
                <p>
                    Nội dung phía trên là những thông tin chi tiết về điều khoản và điều kiện của nhà cái nextbet. Nhiệm vụ của người chơi đó là phải tuân thủ mọi quy định được đề ra khi chơi game tại sân chơi. Chúc tất cả anh em có một trải nghiệm tuyệt vời khi tham gia cá cược tại nhà cái nextbet.
                </p>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>