<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/gio.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <div class="texts">
                <p><span>Trang chủ</span> » Giới thiệu</p>
            </div>
            <h1>GIỚI THIỆU</h1>
            <div class="tetxs">
                <p>Với số lượng khủng người truy cập mỗi ngày, <span>nextbet</span> được đánh giá là nhà cái uy tín, chất lượng hàng đầu trong lĩnh vực cá cược trực tuyến. Không chỉ sở hữu menu game phong phú, nextbet còn thu hút nhiều người chơi với các chương trình ưu đãi hấp dẫn. Để hiểu rõ hơn về các khía cạnh nổi bật của nhà cái nextbet. Anh em hãy theo dõi ngay các thông tin <span>giới thiệu về nextbet</span> được đề cập phía dưới đây nhé. </p>
            </div>
            <div class="image">
                <img src="../img/Artboard 35.png" alt="">
            </div>
            <h2>1. Tầm nhìn</h2>
            <div class="texts">
                <p>
                    nextbet vươn lên trở thành sân chơi uy tín, đỉnh cao nhất trong thị trường cá cược trực tuyến châu Á. Trong đó, các sản phẩm như casino live, cá cược thể thao, bắn cá, đá gà, game bài 3D là thế mạnh lớn của nhà cái.
                </p>
            </div>
            <h2>2. Sứ mệnh</h2>
            <div class="texts">
                <p>
                    Mang đến cho người chơi những sản phẩm giải trí chất lượng, uy tín, minh bạch. Đồng thời, không ngừng nâng cao và cải tiến chất lượng phục vụ. Hứa hẹn đáp ứng nhu cầu của mọi thành viên khi đến với nhà cái.
                </p>
            </div>
            <h2>3. Giá trị cốt lõi</h2>
            <div class="texts">
                <p>
                    Giá trị cốt lõi mà nextbet luôn đặt ra đó là sự uy tín, chất lượng để trở thành nhà cái top đầu. Đồng thời, chúng tôi luôn luôn tìm kiếm và hợp tác cũng các nhà cung cấp chuyên nghiệp. Bên cạnh mục đích kinh doanh, nextbet còn hướng đến các hoạt động từ thiện, tổ chức các sự kiện lớn nhằm tri ân khách hàng.
                </p>
            </div>
            <h2>4. Giải trí – hợp pháp – An toàn</h2>
            <div class="texts">
                <p>
                    Mọi hoạt động diễn ra tại nextbet đều đã được cấp phép bởi chính quyền của Philippines. Nhà cái có trụ sở chính được đặt tại thành phố Manila. Đồng thời, chúng tôi đã có giấy phép hợp pháp của tổ chức PAGCOR. Để đạt được điều này, nextbet đã phải trải qua quá trình kiểm tra nghiêm ngặt để đánh giá độ tin cậy từ phía tổ chức. 
                </p>
            </div>
            <div class="texts">
                <p>
                    Vì vậy, người chơi có thể hoàn toàn yên tâm khi trao gửi niềm tin cũng như tiền bạc tại nhà cái. nextbet đã khẳng định được độ tin cậy qua các đánh giá từ những tổ chức uy tín hàng đầu thế giới.
                </p>
            </div>
            <h2>5. Trung trực, minh bạch trong mọi hoạt động</h2>
            <div class="texts">
                <p>
                    Trong suốt quá trình hình thành và phát triển, trung trực, minh bạch luôn là yếu tố được nextbet quan tâm đến. Được biết đến là một nhà cái trực tuyến chuyên nghiệp, chất lượng và uy tín hàng đầu. Chúng tôi cam kết mang đến cho người chơi các trò chơi an toàn, minh bạch và công bằng nhất.
                </p>
            </div>
            <h2>6. Không ngừng phát triển và nâng cấp kho game đa dạng</h2>
            <div class="texts">
                <p>
                    Các trò chơi tại nextbet Games đều được sáng lập bởi các chuyên gia hàng đầu. Vì vậy, danh mục game tại nhà cái được các anh em cược thủ đánh giá cao và ưa chuộng. Tại đây, người chơi được thoả thích trải nghiệm các thể loại game hấp dẫn, kịch tính, lôi cuốn. Bao gồm: casino live, cá cược bóng đá, game bài 3D, bắn cá trực tuyến, đá gà. 
                </p>
            </div>
            <div class="texts">
                <p>
                    Nhà cái nextbet còn sở hữu rất nhiều các sảnh thể thao đình đám với quy mô cực lớn. Điển hình như SV388, SABA Sport, SBO Sports, UG Sports, ICF. Người chơi tha hồ tham gia cá cược với những giải đấu lớn trên thế giới. 
                </p>
            </div>
            <div class="texts">
                <p>
                    Tất cả các yếu tố như âm thanh, hình ảnh, giao diện đều được đầu tư mạnh tay. Hứa hẹn mang đến cho cược thủ những giây phút giải trí đáng nhớ nhất.
                </p>
            </div>
            <h2>7. Trò chơi Casino trực tuyến nổi bật Tại nextbet </h2>
            <div class="texts">
                <p>
                    Tất cả trò chơi xuất hiện tại sòng Casino đều được nhà cái nextbet chú trọng đầu tư và nâng cấp. Tất cả mang đến cho người chơi trải nghiệm sống động và chân thực nhất. Với hệ thống webcam sắc nét, kết quả cược luôn công bằng, minh bạch với mọi thành viên.
                </p>
            </div>
            <h2>7.1. Xóc đĩa </h2>
            <div class="texts">
                <p>
                    Xóc đĩa được đánh giá là trò chơi thú vị và thu hút được số lượng lớn người tham gia tại nextbet. Hình thức của trò chơi này gồm 1 cái đĩa, 1 cái bát và 4 nút tròn với 2 màu sắc trắng, đỏ. Những cô nàng Dealer xinh đẹp sẽ làm chủ cuộc chơi bằng việc lắc đĩa, mở thưởng cũng như phân định kết quả.
                </p>
            </div>
            <h2>7.2. Blackjack</h2>
            <div class="texts">
                <p>
                    Blackjack là trò chơi chủ yếu dựa vào kỹ năng. Chúng được nhiều người chơi săn đón nồng nhiệt ở các sòng casino nextbet trực tuyến. Tựa game này cũng có luật chơi tương đối đơn giản kết hợp cùng với tính kích thích cao. Đây được xem là bộ môn rất đáng thử ở nextbet.
                </p>
            </div>
            <h2>7.3. Baccarat</h2>
            <div class="texts">
                <p>
                    Tại nextbet, tựa game Baccarat có cách chơi tương tự như bài ba lá ở Việt Nam. Nhiệm vụ của người chơi đó là lựa chọn cửa cược muốn tham gia. Đồng thời, đặt cược số tiền phù hợp vào đó. Tiếp đó, hệ thống nhà cái nextbet tiến hành chia bài. Cửa giành chiến thắng chính là cửa sở hữu số điểm cao nhất.
                </p>
            </div>
            <h2>7.4. Roulette </h2>
            <div class="texts">
                <p>
                    Tại nextbet, tựa game Baccarat có cách chơi tương tự như bài ba lá ở Việt Nam. Nhiệm vụ của người chơi đó là lựa chọn cửa cược muốn tham gia. Đồng thời, đặt cược số tiền phù hợp vào đó. Tiếp đó, hệ thống nhà cái nextbet tiến hành chia bài. Cửa giành chiến thắng chính là cửa sở hữu số điểm cao nhất.
                </p>
            </div>
            <div class="texts">
                <p>
                    Bet thủ sẽ đặt cược tiền vào ô hay các nhóm ô. Tiếp đó, người chia bài sẽ quay bóng trong bàn. Kết quả cược sẽ được xác định bởi ô mà quả bóng rơi trúng. Tựa game Roulette mang đem đến sự kịch tính và thú vị với nhiều phương pháp đặt cược cùng tỷ lệ thanh toán khác nhau. Đây là trò chơi đáng thử khi đặt chân đến với sòng bạc casino trực tuyến của nextbet.
                </p>
            </div>
            <h2>7.5. Tài xỉu </h2>
            <div class="texts">
                <p>
                    Tài xỉu cũng là một trong những trò chơi được nhiều cược thủ yêu thích tại nextbet. Tựa game này mô phỏng lại hình thức tài xỉu truyền thống từ xa xưa. Do vậy, luật chơi và các quy định cũng tương đối giống trò chơi truyền thống. Dealer sẽ dùng 3 viên xúc sắc. Sau đó, họ tiến hành lắc đều và tuyên bố kết quả vào cuối trận đấu. Khi tham gia, người chơi được phép tương tác với MC bằng khung chat màn hình.
                </p>
            </div>
            <h2>7.6. Craps </h2>
            <div class="texts">
                <p>
                    Craps là trò chơi không thể vắng mặt ở các sòng casino. Tính đến thời điểm hiện tại, Craps thu hút được sự quan tâm của hàng triệu cược thủ trên khắp thế giới. Từ đó, tạo nên một cơn địa chấn đỉnh cao trong giới “đỏ đen”.
                </p>
            </div>
            <h2>7.8. Fantan </h2>
            <div class="texts">
                <p>
                    Fantan là một trong những trò chơi cờ bạc có xuất xứ từ Trung Quốc cổ đại. Nó dần dần được nâng cấp và phát triển thành game cá cược xuất hiện nhiều trong các sòng bạc. Mặc dù không phổ biến như Baccarat, tài xỉu,… Nhưng Fantan vẫn sở hữu được lượng người chơi khá ấn tượng. 
                </p>
            </div>
            <h2>7.9. Rồng hổ </h2>
            <div class="texts">
                <p>
                    Rồng hổ đã không còn quá xa lạ với những tín đồ đam mê casino trực tuyến. Bộ bài tây gồm 52 lá quen thuộc được chia đều cho cả hai cửa rồng và hổ. Người chơi sẽ được quyền lựa chọn 3 cửa để tham gia đặt cược. Luật chơi của tựa game này được đánh giá là tương đối đơn giản, dễ hiểu. Ngoài ra, tỷ lệ thắng cược cao cũng chính là ưu điểm nổi bật của trò chơi Rồng Hổ tại nextbet.
                </p>
            </div>
            <h2>8. Đa dạng các chương trình ưu đãi hấp dẫn</h2>
            <div class="texts">
                <p>
                    Là một trong những nhà cái lớn mạnh tại trị trường cá cược trực tuyến châu Á. nextbet rất mạnh tay trong việc đưa ra các chương trình khuyến mãi hấp dẫn. Những ưu đãi được cập nhật thường xuyên. Người chơi có thể thỏa thích rinh về những phần thưởng khủng khi tham gia cá cược tại nhà cái.
                </p>
            </div>
            <div class="texts">
                <p>
                    Một vài chương trình khuyến mãi không thể bỏ qua khi đến với nextbet đó là:
                </p>
            </div>
            <ul class="lest">
                <li>Tặng 100% giá trị thẻ nạp lần đầu cho người chơi.</li>
                <li>Cộng thêm 20% đối với lần nạp thứ 2.</li>
                <li>Chính sách hoàn trả cực hấp dẫn, không giới hạn.</li>
                <li>Nhận ngay 100k vào ngày sinh nhật của thành viên.</li>
                <li>Thưởng lớn vào các dịp lễ, tết hằng năm.</li>
                <li>Nhận ngay 15 vòng quay miễn phí mỗi ngày ở sảnh Slot Microgaming.</li>
            </ul>
            <h2>9. Chăm sóc khách hàng tận tâm, chu đáo</h2>
            <div class="texts">
                <p>
                    Nhắc đến nextbet, hầu hết các anh em đều nghĩ ngay đến sự tâm huyết và nhiệt tình của đội ngũ chăm sóc khách hàng tại đây. Bộ phận nhân viên tư vấn hoạt động 24/7 nhằm phục vụ và hỗ trợ người chơi trong khoảng thời gian nhanh nhất. Vì vậy, nếu gặp khó khăn trong quá trình chơi, anh em hãy liên hệ nextbet để được giúp đỡ. 
                </p>
            </div>
            <div class="texts">
                <p>
                    Để thuận tiện cho việc hỗ trợ người chơi, nextbet đã cung cấp rất nhiều các phương thức liên hệ khác nhau. Bao gồm: nhắn tin trực tuyến, hotline, zalo,… Ở mỗi kênh đều có nhân viên hỗ trợ túc trực để phản hồi về thắc mắc của người chơi nhanh nhất. Đặc biệt, tất cả các hình thức liên hệ đều được miễn phí 100%.
                </p>
            </div>
            <h2>10. Tốc độ nạp rút tiền siêu tốc</h2>
            <div class="texts">
                <p>
                    Để quá trình nạp và rút tiền của cược thủ diễn ra trong thời gian ngắn nhất. nextbet đã tối ưu toàn bộ thao tác giao dịch. Chỉ với vài bước đơn giản, anh em đã có thể thực hiện thành công các bước nạp, rút tiền tài khoản. 
                </p>
            </div>
            <div class="texts">
                <p>
                    nextbet hỗ trợ người chơi giao dịch với nhiều hình thức thanh toán linh hoạt, hiện đại. Điển hình như tài khoản ngân hàng, momo, zalo pay, Internet Banking,… Một số ngân hàng lớn mà nhà cái liên kết bao gồm: Vietcombank, Techcombank, Sacombank, ACB, BIDV, Vp Bank, HD Bank, Nam A Bank…
                </p>
            </div>
            <h2>11. Bảo mật thông tin với công nghệ hiện đại nhất</h2>
            <div class="texts">
                <p>
                    Mỗi thành viên khi tham gia cá cược tại nextbet đều được cung cấp một ID cũng như mật khẩu duy nhất. Việc làm này giúp đảm bảo các khoản tiền cá cược của anh em được bảo mật an toàn.
                </p>
            </div>
            <div class="texts">
                <p>
                    nextbet cam kết không tiết lộ thông tin cá nhân của người chơi cho bên thứ ba. Nhà cái sử dụng tiêu chuẩn mã hoá dữ liệu cao nhất. Mọi thông tin của người chơi đều được bảo mật tuyệt đối với SS 128-bit. 
                </p>
            </div>
            <div class="texts">
                <p>
                    Tất cả dữ liệu ra vào đều được giảm sát một cách nghiêm ngặt và quản lý chặt chẽ. Việc làm này đảm bảo sự an toàn của người chơi trong quá trình trải nghiệm dịch vụ tại nhà cái.
                </p>
            </div>
            <h2>12. Trách nhiệm của người chơi cá cược</h2>
            <div class="texts">
                <p>
                    Khi tham gia cá cược tại nhà cái, nextbet khuyên người chơi nên thực hiện và tuân thủ theo các quy tắc dưới đây:
                </p>
            </div>
            <ul class="lest">
                <li>Những anh em dưới 18 tuổi không được phép tham gia vào các trò chơi cá cược. Đây là vấn đề mà người chơi phải đặc biệt quan tâm đến.</li>
                <li>Xây dựng ngân sách cá cược phù hợp. Đồng thời, chỉ nên đặt cược trong phạm vi đã đề ra trước đó.</li>
            </ul>
            <h2>13. Thông tin liên hệ chúng tôi</h2>
            <ul class="lest">
                <li>Website: https://nextbet.dog/</li>
                <li>Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</li>
            </ul>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>