<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NEXTBET.dog là nhà cái uy tín hàng đầu tại Châu Á cung cấp các sản phẩm cá cược như: Casino, Thể thao, Xổ số, Đá gà Thomo trực tuyến. Đăng ký ngay!">
    <meta name="keywords" content="NEXTBET.dog sân chơi cá cược hàng đầu tại Việt Nam : Xóc đĩa,Thể thao,Bắn cá,Xổ số,Đá gà,Nổ hũ,Tài xỉu">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/mie.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <div class="texts">
                <p><span>Trang chủ</span> » Miễn trừ trách nhiệm</p>
            </div>
            <h1>MIỄN TRỪ TRÁCH NHIỆM</h1>
            <div class="tetxs">
                <p>
                    Khi đến với trang chủ nhà cái <span>nextbet</span>, người chơi có nhiệm vụ và trách nhiệm tuân thủ mọi quy định mà chúng tôi đưa ra. Tuy nhiên, trong một số trường hợp đặc biệt. Anh em sẽ được miễn trừ trách nhiệm hay nhà cái không có nghĩa vụ trách nhiệm với hành vi của người chơi. Tham khảo ngay bài viết phía dưới đây để tìm hiểu thêm nhiều thông tin hơn nhé.
                </p>
            </div>
            <div class="image">
                <img src="../img/Artboard 57.png" alt="">
            </div>
            <h2>1. Trách nhiệm của người chơi và nhà cái nextbet</h2>
            <div class="texts">
                <p>
                    Để có thể tạo dựng sân chơi cá cược trực tuyến an toàn và lành mạnh. Đồng thời, xây dựng và giữ gìn hình ảnh cho nhà cái nextbet cũng như trải nghiệm của cược thủ. Mọi thành viên của nextbet đều phải có trách nhiệm. Sau đây, chúng tôi sẽ liệt kê những trách nhiệm mà nhà cái và người chơi đều phải tuân thủ một cách nghiêm ngặt:
                </p>
            </div>
            <h3>1.1. Trách nhiệm mà người chơi cần phải ghi nhớ</h3>
            <div class="texts">
                <p>
                    Với người chơi, trách nhiệm hàng đầu đó chính là phải tuân thủ đúng các quy định mà nhà cái nextbet đã tuyên bố trước đó. Lưu ý, anh em không được có những biểu hiện hay hành vi gian lận, lừa đảo. Từ đó, làm ảnh hưởng nghiêm trọng đến hình ảnh của nhà cái. Đồng thời, gây gián đoạn quá trình trải nghiệm của những thành viên khác. Nếu vi phạm, anh em sẽ phải chịu mọi hình phạt nhà cái đưa ra.
                </p>
            </div>
            <h3>1.2. Trách nghiệm của nhà cái nextbet</h3>
            <div class="texts">
                <p>
                    Nhà cái nextbet có trách nhiệm mang đến cho người chơi một không gian cá cược an toàn, uy tín và minh bạch. Đồng thời, xây dựng các chính sách cụ thể để bảo vệ quyền lợi của mọi anh em cược thủ. Bên cạnh đó, nextbet còn phải đáp ứng được tốt nhu cầu và thỏa mãn được niềm đam mê cá cược của tất cả người chơi tại đây.
                </p>
            </div>
            <div class="texts">
                <p>
                    Ngoài ra, nhà cái nextbet phải bảo vệ tất cả thông tin cá nhân, dữ liệu mà người chơi đã cung cấp. Đồng thời, tuyệt đối không được tiết lộ, làm rò rỉ chúng ra bên ngoài. Từ đó, gây ảnh hưởng đến chính thành viên của nhà cái. Tính đến thời điểm hiện tại, việc bảo mật thông tin vẫn được nhà cái thực hiện rất tốt. 
                </p>
            </div>
            <h2>2. Trường hợp miễn trừ trách nhiệm cho người chơi</h2>
            <div class="texts">
                <p>
                    Các vấn đề xảy ra do tình trạng hệ thống bị lỗi thì người chơi sẽ không phải chịu bất kỳ trách nhiệm nào.
                </p>
            </div>
            <div class="texts">
                <p>
                    Tại nextbet, có rất nhiều quy định và điều khoản mà người chơi phải tuân thủ theo. Tuy nhiên, trong một vài trường hợp, anh em sẽ được miễn trừ trách nhiệm. Cụ thể:
                </p>
            </div>
            <ul class="lest">
                <li>nextbet cam kết bảo mật tuyệt đối thông tin, dữ liệu cá nhân của người chơi. Tuy nhiên, vì một vài lý do nào đó mà hệ thống bị xâm nhập bởi kẻ xấu. Đồng thời, thông tin của anh em bị rò rỉ. Trong trường hợp này, người chơi sẽ không phải chịu bất kỳ trách nhiệm nào. Tin đồn về việc nextbet lừa đảo cũng không phải do anh em gây nên./li>
                <li>Nhà cái nextbet cập nhật và thay đổi một vài quy định nhưng chưa thông báo với thành viên. Nếu vi phạm, người chơi cũng sẽ được miễn trừ mọi trách nhiệm.</li>
            </ul>
            <h2>3. Trường hợp miễn trừ trách nhiệm nhà cái nextbet</h2>
            <div class="texts">
                <p>
                    Tương tự như người chơi, nhà cái nextbet cũng không phải chịu trách nhiệm với người chơi trong một vài trường hợp cụ thể dưới đây:
                </p>
            </div>
            <ul class="lest">
                <li>nextbet cung cấp cho tất cả người chơi đầy đủ các quy định cũng như quyền lợi trong quá trình tham gia cá cược tại nhà cái. Trường hợp cố tình vi phạm thì chúng tôi sẽ không có nghĩa vụ chịu trách nhiệm trước các hành động của anh em.</li>
                <li>Tại nextbet, đội ngũ nhân viên chăm sóc khách hàng hoạt động 24/7 luôn sẵn sàng và hỗ trợ mọi thắc mắc mà người chơi gặp phải. Khi xảy ra bất kỳ vấn đề nào, anh em phải nhanh chóng liên hệ với họ để được giải quyết kịp thời. Sau thời hạn này, nextbet sẽ không có trách nhiệm để hỗ trợ người chơi.</li>
            </ul>
            <div class="texts">
                <p>
                    Nội dung phía trên là một vài trường hợp <span>miễn trừ trách nhiệm tại</span> nextbet muốn chia sẻ tới tất cả người chơi. Đặc biệt là những anh em tân thủ mới đặt chân đến sân chơi uy tín, chất lượng này. Những thông tin này sẽ giúp cho quá trình chơi game của người chơi được dễ dàng hơn. Chúc các anh em cược thủ có được những giây phút giải trí tuyệt vời, chất lượng nhất.
                </p>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>