<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/nap.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <!-- left -->
           <div class="left">
                <div class="content-left">
                    <div class="texts">
                        <p><span>Trang chủ</span> » <span>Hướng dẫn</span> » Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn</p>
                        <h1>Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn</h1>
                    </div>
                    <div class="time">
                        <span><img src="../img/icon.jpg" alt=""></span>
                        <span>nextbet</span>
                        <span><i class="fa-regular fa-clock"></i></span>
                        <span>5:54 chiều</span>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 47.png" alt="">
                    </div>
                    <div class="texts">
                        <p>
                            Hình thức gửi tiền cược vào các cổng game của nhà cái cũng khá đơn giản. Giúp anh em game thủ có được những trải nghiệm chất lượng và hiệu quả nhất. Dưới đây là thông tin chi tiết về hướng dẫn <span>nạp tiền nextbet</span>. Chúng tôi sẽ giúp anh em game thủ có được những thông tin chất lượng nhất trong quá trình tham gia chơi game trực tuyến.
                        </p>
                    </div>
                    <h2>1. Ý nghĩa của việc nạp tiền vào nhà cái nextbet</h2>
                    <div class="texts">
                        <p>
                            Gửi tiền vào nhà cái nextbet đóng vai trò quan trọng trong việc tham gia quá trình chơi game cá cược của anh em. Khi nạp tiền, anh em sẽ sở hữu một nguồn tài chính sẵn có, để đặt cược và tham gia các trò chơi tùy thích. Điều này giúp anh em tận hưởng một sân chơi toàn diện và tăng cơ hội chiến thắng về cho bản thân.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Việc gửi tiền cũng mang đến tính linh hoạt và tiện lợi nhất định. Anh em có thể dễ dàng quản lý số dư tài khoản để sử dụng chúng một cách dễ dàng. Điều này giúp tạo nên sự linh hoạt trong việc thực hiện các giao dịch. Đồng thời, thúc đẩy mong muốn tham gia các trò chơi một cách suôn sẻ.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 55.png" alt="">
                        <p>Ý nghĩa của việc nạp tiền vào nhà cái nextbet</p>
                    </div>
                    <h2>2. Một số lợi ích khi thực hiện nạp tiền nextbet</h2>
                    <div class="texts">
                        <p>
                            Việc gửi tiền vào tài khoản nextbet mang đến nhiều lợi ích đáng giá. Một số lợi ích nổi bật sẽ được chúng tôi bật mí ngay sau đây: 
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Đầu tiên có thể kể đến, anh em sẽ được tận hưởng đa dạng các trò chơi cùng những sự kiện cá cược với số tiền anh em đã nạp vào tài khoản của mình.</li>
                        <li>Thứ hai, nextbet Casino đã và đang cung cấp vô số khuyến mãi cho người chơi khi gửi tiền lần đầu. Điều này giúp anh em nhận về nhiều ưu đãi hơn cho số tiền mình đã đầu tư.</li>
                        <li>Thứ ba, việc gửi tiền còn giúp anh em dễ dàng quản lý tài chính cá nhân thuận tiện. Từ đó, theo dõi trực tiếp số dư tài khoản và kiểm soát chi tiêu dễ dàng.</li>
                        <li>Cuối cùng, việc gửi tiền tại nextbet đảm bảo an toàn và bảo mật thông tin cá nhân. Đồng thời mang đến một sân chơi công bằng, đáng tin cậy. </li>
                    </ul>
                    <h2>3. Hướng dẫn nạp tiền nextbet theo từng phương thức</h2>
                    <div class="texts">
                        <p>
                            Hình thức nạp tiền nextbet cũng tương đối dễ thực hiện. Người chơi có thể tham khảo qua các bước dưới đây để có được những thông tin cụ thể nhất.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 59.png" alt="">
                        <p>Hướng dẫn nạp tiền nextbet theo từng phương thức</p>
                    </div>
                    <h3>3.1. Nạp tiền nextbet qua ngân hàng trực tuyến</h3>
                    <div class="texts">
                        <p>
                            Khi các anh em game thủ đã đăng ký tài khoản thành công. Anh em hãy thực hiện theo các bước dưới đây để có thể gửi tiền nextbet thông qua phương thức ngân hàng trực tuyến:
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Bước 1:  Anh em tiến hành bấm chọn vào mục “Nạp tiền”. Sau đó có thể chọn giao diện chuyển tiền hiển thị trên hệ thống nhà cái. Tiếp đến lựa chọn ngân hàng phù hợp để chuyển tiền vào tài khoản game.</li>
                        <li>Bước 2: Nhập số tiền mà bản thân muốn nạp để đặt cược. Sau đó, xác thực lại một lần nữa những thông tin đã điền để có thể chuyển khoản vào tài khoản.</li>
                        <li>Bước 3: Truy cập vào nhà cái để kiểm tra tài khoản và tham gia chơi ngay.</li>
                    </ul>
                    <h3>3.2. Nạp tiền nextbet qua ứng dụng ngân hàng</h3>
                    <div class="texts">
                        <p>
                            Để có thể gửi tiền vào tài khoản cổng game của nhà cái thông qua App ngân hàng. Người chơi có thể thực hiện theo các bước sau đây: 
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Bước 1: Đăng nhập vào trang chủ nextbet và lựa chọn phương thức gửi tiền qua ngân hàng. Người chơi lựa chọn tên ngân hàng phù hợp để có thể tiến hành gửi tiền ngay. nextbet hiện đã mở rộng liên kết với 7 ngân hàng hàng đầu tại thị trường Việt Nam, bao gồm BIDV, Vietcombank, Sacombank, Vietinbank, Đông Á Bank và ACB. Điều này mang đến cho anh em hàng sự lựa chọn tiện lợi, linh hoạt để gửi tiền vào tài khoản nextbet thông qua ngân hàng.</li>
                        <li>Bước 2: Truy cập vào tài khoản cá nhân và thanh toán số tiền mình cần nạp vào nhà cái.</li>
                        <li>Bước 3: Vào nhà cái nextbet để kiểm tra số tiền mà ta vừa nạp vào. Tiếp theo, kiểm tra tài khoản lại một lần nữa. Cuối cùng, đăng nhập vào nextbet Games để tham gia chơi và trải nghiệm.</li>
                    </ul>
                    <h3>3.3. Nạp tiền nextbet qua ATM</h3>
                    <div class="texts">
                        <p>
                            nextbet sở hữu đội ngũ nhân viên giàu kinh nghiệm và đầy tiềm năng sáng tạo. Vì thế, giao diện của nhà cái được thiết kế thông minh, bố cục bày trí hợp lý, màu sắc kết hợp hài hoà. Từ đó, cược thủ có thể thực hiện các thao tác đăng ký, nạp và rút tiền nhanh chóng, dễ dàng. Do vậy, lượng tải app nextbet đã đạt đến con số cực khủng và không có dấu hiệu giảm.
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Bước 1: Người chơi bấm chọn hình thức gửi tiền qua ngân hàng hiển thị trên màn hình. Sau đó, nhập số tiền mà mình muốn nạp vào tài khoản nhà cái. </li>
                        <li>Bước 2: Xác nhận lại toàn bộ thông tin và mật khẩu để có thể hoàn thành giao dịch cho quá trình gửi tiền.</li>
                        <li>Bước 3: Đăng nhập lại vào nextbet Games để kiểm tra tài khoản cá nhân. Sau đó có thể tham gia chơi game  cá cược tại nhà cái.</li>
                    </ul>
                    <h3>3.4. Nạp tiền nextbet qua QR code</h3>
                    <div class="texts">
                        <p>
                            Hình thức nạp tiền nextbet qua QR code cũng đang được nhiều người chơi quan tâm và yêu thích nhất hiện nay. Đây cũng là một trong những hình thức gửi tiền được nhiều anh em game thủ lựa chọn. Vừa nhanh gọn và vừa tiện lợi.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/nap5.jpg" alt="">
                        <p>Nạp tiền nextbet qua QR code</p>
                    </div>
                    <ul class="lest">
                        <li>Bước 1: Đăng nhập vào nhà cái nextbet và di chuyển đến mục chọn phương thức gửi tiền bằng hình thức quét mã QR ngân hàng</li>
                        <li>Bước 2: Đăng nhập vào tài khoản ngân hàng. Sau đó bấm chọn quét mã QR. Sử dụng hình ảnh mã qr được nhà cái cung cấp bằng cách lưu ảnh mã về máy và tải lên mục quét mã của tài khoản ngân hàng. </li>
                        <li>Bước 3: Nhập số tiền anh em muốn nạp và bấm chọn xác nhận để có thể gửi tiền thành công vào tài khoản game.</li>
                        <li>Bước 4: Truy cập vào nhà cái để kiểm tra tài khoản cá nhân và tham gia chơi game tại nhà cái ngay. </li>
                    </ul>
                    <h3>3.5. Nạp tiền nextbet qua thẻ cào điện thoại</h3>
                    <div class="texts">
                        <p>
                            Hình thức gửi tiền thông qua qua thẻ cào điện thoại được đánh giá vô cùng nhanh chóng và tiện lợi. Nhà cái sử dụng phương pháp này để hỗ trợ cho các anh em game thủ, nếu như không có tài khoản ngân hàng.
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Bước 1: Truy cập vào phần Nạp tiền của nhà cái để anh em có thể dễ dàng nạp tài khoản sao cho nhanh chóng và tiện lợi</li>
                        <li>Bước 2: Chọn mua mã thẻ với số tiền mà anh em cần gửi vào nhà cái</li>
                        <li>Bước 3: Tiếp đó anh em cần nhập 1 dãy số seri (hay còn gọi là mã seri) trên mã thẻ cào để có thể vào gửi tiền cá cược tại nhà cái.</li>
                    </ul>
                    <h2>4. Lưu ý quan trọng khi thực hiện nạp tiền nextbet</h2> 
                    <div class="texts">
                        <p>
                            Để có thể gửi tiền vào tài khoản nhà cái nextbet một cách thuận lợi. Thêm vào đó là để tránh những khó khăn xảy ra hay sự rủi ro không đáng có. Người chơi nên lưu ý với những thông tin sau đây:
                        </p>
                    </div>
                    <h3>4.1. Xác nhận đúng thông tin tài khoản cá nhân</h3>
                    <div class="texts">
                        <p>
                            Hãy đảm bảo rằng thông tin tài khoản ngân hàng và ví điện tử mà anh em đang sử dụng là chính chủ. Tài khoản đã được xác minh sở hữu nguồn thông tin chính xác từ khi thực hiện đăng ký tài khoản game. 
                        </p>
                    </div>
                    <h3>4.2. Chọn phương thức để thanh toán sao cho phù hợp </h3>
                    <div class="texts">
                        <p>
                            Chọn cho mình một phương thức thanh toán phù hợp với điều kiện cá nhân của anh em. Điều này bao gồm xem xét kỹ lưỡng về sự tiện lợi, tính năng bảo mật và hạn mức giao dịch có trong từng phương thức.
                        </p>
                    </div>
                    <h3>4.3. Tuân thủ đúng hạn mức khi gửi tiền</h3>
                    <div class="texts">
                        <p>
                            Để đảm bảo cho giao dịch thành công, anh em hãy tuân thủ hạn mức gửi tiền trong từng phương thức một cách chính xác nhất. Điều này giúp người chơi dễ dàng tránh việc gửi quá số tiền hoặc không đủ tiền. Đảm bảo cho quá trình giao dịch diễn ra suôn sẻ.
                        </p>
                    </div>
                    <h3>4.4. Tuân thủ thông tin về chính sách</h3>
                    <div class="texts">
                        <p>
                            Hãy chắc chắn không vi phạm bất cứ một quy định nào về phương thức nạp tiền vào trang chủ nextbet. Điều này phần nào sẽ giúp quá trình giao dịch của anh em được xử lý thành công. Để tuân thủ đúng thông tin chính sách nhà cái đề ra bao gồm: Đọc và nắm rõ về quy định về cách gửi tiền trên ứng dụng nhà cái nextbet.
                        </p>
                    </div>
                    <h2>5. Kết bài</h2>
                    <div class="texts">
                        <p>
                            Với những thông tin chi tiết được chúng tôi hướng dẫn trên đây. Hy vọng sẽ giúp các anh em bet thủ có được những giây phút chơi game thật chất lượng, hiệu quả nhất khi biết cách nạp tiền nextbet. Dù có là tân binh mới bắt đầu tham gia cá cược trực tuyến. Chỉ cần thực hiện theo các bước hướng dẫn Tại nextbet anh em sẽ thành công!
                        </p>
                    </div>

                </div>
           </div>
           <!-- rigth -->
           <div class="rigth">
            <div class="content-rigth">
                <div class="folder">
                    <span><i class="fa-regular fa-folder-open"></i> CHUYÊN MỤC</span>
                </div>
                <div class="links-rigth">
                    <div class="links">
                        <div class="text">
                            <a href=""><i class="fa-solid fa-chevron-right"></i> Casino</a>
                        </div>
                        <div class="number">
                            <a href="#">(33)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href=""><i class="fa-solid fa-chevron-right"></i> Đá gà</a>
                        </div>
                        <div class="number">
                            <a href="#">(18)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href=""><i class="fa-solid fa-chevron-right"></i> Hướng dẫn</a>
                        </div>
                        <div class="number">
                            <a href="#">(4)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href=""><i class="fa-solid fa-chevron-right"></i> Thể thao</a>
                        </div>
                        <div class="number">
                            <a href="#">(22)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href=""><i class="fa-solid fa-chevron-right"></i> Xổ số</a>
                        </div>
                        <div class="number">
                            <a href="#">(10)</a>
                        </div>                        
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-database"></i> BÀI VIẾT MỚI NHẤT</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 18.png" alt="">
                        </div>
                        <div class="desc">
                            Khám Phá Chi Tiết Dòng Gà Chọi Hắc Hổ Thới Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Cực Chuẩn Cách Xem Tướng Gà Chọi Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 95.png" alt="">
                        </div>
                        <div class="desc">
                            Đề Chạm Là Gì? Thể Loại Và Cách Chơi Chắc Thắng Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 20.png" alt="">
                        </div>
                        <div class="desc">
                            Gà Ngũ Sắc Là Gì? Cách Phân Biệt và Nơi Mua Uy Tín Tại nextbet
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-check"></i></i> BÀI VIẾT CÙNG CHỦ ĐỀ</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">                              Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-regular fa-star"></i> HƯỚNG DẪN HỘI VIÊN
                    </span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 47.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">               
                        Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 49.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Đăng Ký nextbet Chi Tiết Và Nhanh Chóng Nhất
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nectbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>