<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/rut.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <!-- left -->
           <div class="left">
                <div class="content-left">
                    <div class="texts">
                        <p><span>Trang chủ</span> » <span>Hướng dẫn</span> » Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng</p>
                        <h1>Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng</h1>
                    </div>
                    <div class="time">
                        <span><img src="../img/icon.jpg" alt=""></span>
                        <span>nextbet</span>
                        <span><i class="fa-regular fa-clock"></i></span>
                        <span>11:31 chiều</span>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 46.png" alt="">
                    </div>
                    <div class="texts">
                        <p>
                            nextbet đã trở thành cái tên vô cùng quen thuộc đối với những tín đồ mê cá cược. Hiện nay, nextbet đã khẳng định được tên tuổi và vị thế trên thị trường cá cược Tại châu Á. Trong bài viết này, nhà cái nextbet sẽ hướng dẫn chi tiết thao tác thực hiện rút tiền nextbet về tài khoản ngân hàng một cách nhanh nhất.
                        </p>
                    </div>
                    <h2>1. Ưu điểm khi rút tiền tại nhà cái nextbet</h2>
                    <div class="texts">
                        <p>
                            Rút tiền nextbet là thao tác được rất nhiều anh em tham gia cá cược quan tâm đến. Việc làm này được thực hiện vô cùng đơn giản và nhanh chóng. Dưới đây, nextbet sẽ liệt kê một số ưu điểm của thao tác này. Cụ thể:
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 73.png" alt="">
                        <p>Ý Ưu điểm khi rút tiền tại nhà cái nextbet</p>
                    </div>
                    <ul class="lest">
                        <li>Biểu mẫu điền thông tin rút tiền được thiết kế với giao diện thông minh. Việc này sẽ giúp người chơi thực hiện các thao tác một cách đơn giản và nhanh chóng nhất.</li>
                        <li>Hệ thống bảo mật tiên tiến, hiện đại hàng đầu được nhà cái ưu tiên sử dụng. Với bộ mã hóa 128 bit cùng với lớp bảo mật nhiều tầng. Tất cả thông tin hội viên tham gia cá cược đều được bảo mật tuyệt đối.</li>
                        <li>Bộ phận chăm sóc khách hàng nhiệt tình, chu đáo, hoạt động 24/7 cả những ngày lễ, tết. Khi gặp phải bất kỳ khó khăn nào, anh em có thể liên hệ trực tiếp với họ để được giúp đỡ nhanh nhất nhé.</li>
                        <li>nextbet hiện đang cung cấp 2 hình thức rút tiền mà cược thủ có thể lựa chọn. Bao gồm: chuyển khoản ngân hàng và quy đổi thẻ điện thoại. Thời gian giao dịch diễn ra vô cùng nhanh chóng, chỉ mất vài giây. Đây cũng chính là một trong số ưu điểm được rất nhiều người chơi tại nhà cái đánh giá cao.</li>
                    </ul>
                    <h2>2. Điều kiện rút tiền nextbet</h2>
                    <div class="texts">
                        <p>
                            Để thực hiện thành công giao dịch rút tiền tại nhà cái nextbet. Anh em phải ghi nhớ những điều kiện được đề cập dưới đây. Cụ thể:
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 74.png" alt="">
                        <p>Ưu điểm khi rút tiền tại nhà cái nextbet</p>
                    </div>
                    <ul class="lest">
                        <li>Người chơi phải cung cấp đầy đủ và chính xác tất cả thông tin liên quan đến tài khoản. Nếu dữ liệu không hợp lệ, quá trình rút tiền của anh em sẽ không được thực hiện.</li>
                        <li>Tên tài khoản ngân hàng và tên đăng ký tài khoản bắt buộc phải trùng khớp với nhau. </li>
                        <li>Số tiền rút phải nằm trong phạm vi mà nhà cái nextbet đã đưa ra.</li>
                        <li>Lựa chọn ngân hàng mà nextbet đã liên kết. Bao gồm: BIDV, MB, AGRIBank, Viettinbank, Sacombank,….</li>
                        <li>Mỗi người chơi chỉ được phép sử dụng một thẻ ngân hàng duy nhất để thực hiện rút tiền. Trường hợp có nhu cầu đổi thẻ, anh em phải liên hệ ngay với dịch vụ chăm sóc khách hàng để được hỗ trợ.</li>
                        <li>Khi rút tiền thưởng từ các chương trình khuyến mãi. Cược thủ phải đáp ứng yêu cầu doanh thu khi tham gia đặt cược mà nhà cái đã quy định.</li>
                    </ul>
                    <h2>3. Hướng dẫn rút tiền nextbet chỉ 3 bước đơn giản</h2>
                    <div class="texts">
                        <p>
                            Thông tin vừa rồi, nextbet đã cung cấp một số quy định bắt buộc mà người chơi phải nắm được trước khi thực hiện giao dịch. Sau đây, chúng tôi sẽ chia sẻ một số bước rút tiền cực nhanh chóng tại nhà cái nextbet.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 55.png" alt="">
                        <p>Hướng dẫn rút tiền nextbet chỉ 3 bước đơn giản</p>
                    </div>
                    <h3>Bước 1: Truy cập vào giao diện trang chủ của nhà cái nextbet</h3>
                    <div class="texts">
                        <p>
                            Khi thực hiện rút tiền nextbet, anh em cần truy cập vào đường link do nhà cái cung cấp. Đối với giao dịch trên web, người chơi nên click vào đường dẫn được chia sẻ ở cuối bài viết. 
                        </p>
                    </div>
                    <h3>Bước 2: Thực hiện rút tiền</h3>
                    <div class="texts">
                        <p>
                            Sau khi đã truy cập được vào giao diện chính thức, anh em chọn phần rút tiền. Tại đây, người chơi điền đầy đủ các thông tin trên biểu mẫu. Bao gồm số tiền muốn rút, tên ngân hàng và số tài khoản. Để xác thực dữ liệu, nhà cái sẽ gửi đến người chơi mã OTP qua số điện thoại di động đã đăng ký trước đó. Nhiệm vụ của anh em đó là nhập đúng mã vào ô thông tin.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 52.png" alt="">
                        <p>Thực hiện rút tiền nextbet</p>
                    </div>
                    <h3>Bước 3: Check lại thông tin và hoàn tất
                    </h3>
                    <div class="texts">
                        <p>
                            Để đảm bảo cho quá trình rút tiền được chính xác nhất. Anh em nên kiểm tra thông tin lại lần nữa. Tiếp đó, nhấn xác nhận rút tiền là hoàn thành.
                        </p>
                    </div>
                    <h2>4. Những lỗi thường gặp trong quá trình rút tiền Tại nextbet</h2>
                    <div class="texts">
                        <p>
                            nextbet có hệ thống giao dịch tự động nhanh chóng, bảo mật. Tuy nhiên, tình trạng người chơi không thể thực hiện được thao tác rút tiền vẫn có thể xảy ra. Nguyên nhân có thể do khách hàng hoặc nhà cái. Sau đây, chúng tôi sẽ đề cập một số trường hợp tiêu biểu và giải pháp khắc phục cụ thể:
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Khi nhập đầy đủ và chính xác thông tin mà người chơi vẫn không nhận được tiền về tài khoản. Trường hợp này có thể là do phía nhà cais đang gặp trục trặc. Trong tình huống này, anh em phải hết sức bình tĩnh. Đồng thời, chụp lại lịch sử rút tiền nextbet để được giải quyết ngay sau đó.</li>
                        <li>Nếu cược thủ điền sai thông tin như số tài khoản thì sẽ nhận được báo lỗi từ phía hệ thống. Trường hợp nhập không chính xác số tiền hay số tài khoản thì nhà cái nextbet sẽ không hoàn toàn chịu trách nhiệm. Do đó, anh em phải kiểm tra kỹ lưỡng thông tin trước khi thực hiện giao dịch rút tiền nhé.</li>
                        <li>Hãy chắc chắn rằng tài khoản của anh em phải trong sạch. Đồng thời, không sử dụng bất kỳ một ứng dụng hay phần mềm nào khác can thiệp vào việc cá cược. Nếu bị liệt kê vào danh sách đen của nhà cái đồng nghĩa với việc người chơi sẽ không thể thực hiện rút tiền nextbet.</li>
                    </ul>
                    <h2>5. FAQ – Câu hỏi thường gặp khi rút tiền nextbet</h2>
                    <div class="texts">
                        <p>
                            Trong quá trình rút tiền nextbet, không ít anh em đã gặp phải một số thắc mắc sau. Vì vậy, cần nắm vững thông tin để tránh những tình huống khó khăn khi muốn rút tiền thành công.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 75.png" alt="">
                        <p>FAQ – Câu hỏi thường gặp khi rút tiền nextbet</p>
                    </div>
                    <h3>5.1. Làm sao để thực hiện rút tiền nextbet nhanh chóng nhất?</h3>
                    <div class="texts">
                        <p>
                            Để quá trình rút tiền được thực hiện một cách nhanh chóng nhất. Người chơi có thể tham khảo một số mẹo mà nextbet chia sẻ phía dưới đây.
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Lựa chọn những ngân hàng được nhà cái hỗ trợ.</li>
                        <li>Nên thực hiện rút tiền vào thời gian trước 11h từ thứ 2 đến thứ 6. Hạn chế giao dịch vào buổi chiều bởi quá trình này có thể bị xử lý trong ngày làm việc tiếp theo.</li>
                        <li>Không nên thực hiện lệnh rút tiền trong những ngày nghỉ hay ngày lễ của ngân hàng.</li>
                        <li>Khi nhận được thông báo bảo trì từ nextbet, người chơi không nên thực hiện giao dịch trong khoảng thời gian này.</li>
                        <li>Trước khi gửi yêu cầu rút tiền, anh em phải kiểm tra thông tin. Việc này sẽ giúp hạn chế được các sai sót và đảm bảo được rằng không có bất kỳ lỗi nào trong giao dịch.</li>
                        <li>Tránh tình trạng rút tiền vào ngày ngày lễ của ngân hàng.</li>
                    </ul>
                    <h3>5.2. Nguyên nhân rút tiền nextbet không thành công?</h3>
                    <div class="texts">
                        <p>
                            Một số người chơi thực hiện thao tác rút tiền và nhận về thông báo giao dịch không thành công. Hệ thống sẽ xử lý lại yêu cầu thanh toán của anh em. Những nguyên nhân khiến cho quá trình rút tiền nextbet không thành công:
                        </p>
                    </div>
                    <ul class="lest">
                        <li>Sai thông tin dữ liệu trên biểu mẫu rút tiền.</li>
                        <li>Sai số tài khoản ngân hàng.</li>
                        <li>Tên chủ tài khoản ngân hàng không có sự trùng khớp </li>
                        <li>Vi phạm điều khoản mà nhà cái đã đưa ra, dẫn đến tình trạng tạm khóa giao dịch rút tiền.</li>
                        <li>Chưa đáp ứng đủ doanh thu cược để thực hiện rút tiền trong khoản thưởng 123B.</li>
                    </ul>
                    <h3>5.3. Khi rút tiền bị lỗi, liên hệ với đối tượng nào để được giúp đỡ?</h3>
                    <div class="texts">
                        <p>
                            Khi gặp phải tình trạng lỗi rút tiền, người chơi cần liên hệ ngay với đội ngũ nhân viên để được hỗ trợ và xử lý các vấn đề có liên quan. Bộ phận chăm sóc tại nhà cái hoạt động 24/7, sẵn sàng giúp đỡ cược thủ trong mọi hoàn cảnh.
                        </p>
                    </div>
                    <h2>6. Kết bài</h2>
                    <div class="texts">
                        <p>
                            Thông tin phía trên, nextbet đã chia sẻ đến anh em những điều kiện và các bước cụ thể để rút tiền nextbet. Để thực hiện thành công, người chơi phải đảm bảo mọi thông tin đều được cung cấp chính xác. Đồng thời, tuân thủ tất cả điều kiện rút tiền nhà cái đưa ra. Nếu còn bất kỳ câu hỏi hay thắc mắc nào, liên hệ ngay với nextbet để được hỗ trợ và giải đáp ngay nhé.
                        </p>
                    </div>

                </div>
           </div>
           <!-- rigth -->
           <div class="rigth">
            <div class="content-rigth">
                <div class="folder">
                    <span><i class="fa-regular fa-folder-open"></i> CHUYÊN MỤC</span>
                </div>
                <div class="links-rigth">
                    <div class="links">
                        <div class="text">
                            <a href="../components/cas.html"><i class="fa-solid fa-chevron-right"></i> Casino</a>
                        </div>
                        <div class="number">
                            <a href="#">(33)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/da.html"><i class="fa-solid fa-chevron-right"></i> Đá gà</a>
                        </div>
                        <div class="number">
                            <a href="#">(18)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/hu.html"><i class="fa-solid fa-chevron-right"></i> Hướng dẫn</a>
                        </div>
                        <div class="number">
                            <a href="#">(4)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/the.html"><i class="fa-solid fa-chevron-right"></i> Thể thao</a>
                        </div>
                        <div class="number">
                            <a href="#">(22)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/xo.html"><i class="fa-solid fa-chevron-right"></i> Xổ số</a>
                        </div>
                        <div class="number">
                            <a href="#">(10)</a>
                        </div>                        
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-database"></i> BÀI VIẾT MỚI NHẤT</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 18.png" alt="">
                        </div>
                        <div class="desc">
                            Khám Phá Chi Tiết Dòng Gà Chọi Hắc Hổ Thới Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Cực Chuẩn Cách Xem Tướng Gà Chọi Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 95.png" alt="">
                        </div>
                        <div class="desc">
                            Đề Chạm Là Gì? Thể Loại Và Cách Chơi Chắc Thắng Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 20.png" alt="">
                        </div>
                        <div class="desc">
                            Gà Ngũ Sắc Là Gì? Cách Phân Biệt và Nơi Mua Uy Tín Tại nextbet
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-check"></i></i> BÀI VIẾT CÙNG CHỦ ĐỀ</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">                              Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-regular fa-star"></i> HƯỚNG DẪN HỘI VIÊN
                    </span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 47.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">               
                        Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 49.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Đăng Ký nextbet Chi Tiết Và Nhanh Chóng Nhất
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>