<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/tai.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="../components/the.html" class="links">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="contents-hero">
            <!-- left -->
           <div class="left">
                <div class="content-left">
                    <div class="texts">
                        <p><span>Trang chủ</span> » <span>Hướng dẫn</span> » Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS</p>
                        <h1>Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS</h1>
                    </div>
                    <div class="time">
                        <span><img src="../img/icon.jpg" alt=""></span>
                        <span>nextbet</span>
                        <span><i class="fa-regular fa-clock"></i></span>
                        <span>4:10 chiều</span>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 48.png" alt="">
                    </div>
                    <div class="btn">
                        <a href="#">TẢI APP NGAY
                        </a>
                    </div>
                    <div class="texts">
                        <p>
                            Với sự phát triển không ngừng của công nghệ nên nhu cầu trải nghiệm game online trực tiếp trên app của anh em cược thủ ngày càng tăng. Để đáp ứng được điều này, nhà cái nextbet đã phát hành phiên bản <span>tải app nextbet</span> cho điện thoại di động. Trong bài viết dưới đây, <span>nhà cái nextbet</span> sẽ hướng dẫn cụ thể cách cài đặt ứng dụng cho tất cả người chơi.
                        </p>
                    </div>
                    <h2>1. Lợi ích của việc Tải App nextbet về thiết bị của bạn</h2>
                    <div class="texts">
                        <p>
                            Người chơi có thể cài đặt App nextbet một cách an toàn và nhanh chóng. Khi tải, cược thủ sẽ tối ưu hoá được rất nhiều các tính năng khác nhau. Từ đó, mang đến những trải nghiệm tốt hơn trong quá trình tham gia cá cược.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 81 (1).png" alt="">
                        <p>Lợi ích của việc Tải App nextbet</p>
                    </div>
                    <h3>1.1. Tải app để được trải nghiệm đa dạng các trò chơi khác nhau</h3>
                    <div class="texts">
                        <p>
                            nextbet được biết đến là nhà cái trực tuyến hàng đầu tại thị trường cá cược tại châu Á. Tại đây, người chơi được trải nghiệm và khám phá kho game đa dạng. Bao gồm: casino live, cá cược thể thao, bắn cá trực tuyến, đá gà,… Khi đến với nhà cái, anh em được thoả thích tham gia các tựa game yêu thích của bản thân.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Nhà cái nextbet cho phát hành đa dạng các trò chơi hay, hấp dẫn trên app. Đây là yếu tố quan trọng được nhà cái quan tâm đến để giữ chân và thu hút nhiều cược thủ.
                        </p>
                    </div>
                    <h3>1.2. Cập nhật nhanh chóng nhiều khuyến mãi lớn của nhà cái</h3>
                    <div class="texts">
                        <p>
                            Các chương trình khuyến mãi luôn được nextbet Games dành sự quan tâm đặc biệt và chú trọng đầu tư. Người chơi sẽ có cơ hội rinh về những giải thưởng có giá trị vô cùng lớn. Việc tải app sẽ giúp anh em dễ dàng truy cập vào giao diện chính của nhà cái. Từ đó, cập nhật nhanh chóng các chương trình khuyến mãi mà nextbet đưa ra.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/Artboard 82.png" alt="">
                        <p>Ứng dụng nextbet – Tương thích trên cả hệ điều hành iOS và Android</p>
                    </div>
                    <h3>1.3. Hệ thống App nhà cái bảo mật dữ liệu an toàn</h3>
                    <div class="texts">
                        <p>
                            Khi tham gia cá cược tại nextbet, người chơi hoàn toàn có thể yên tâm về vấn đề bảo mật. Với hệ thống mã hóa 128 bit cùng với tầng. Mọi thông tin tài khoản cá nhân của anh em đều được bảo vệ an toàn, không bị rò rỉ ra bên ngoài. Vì vậy, nextbet là sân chơi cá cược đáng tin cậy mà người chơi nên lựa chọn.
                        </p>
                    </div>
                    <h3>1.4. Tốc độ nạp, rút nhanh chóng và đơn giản</h3>
                    <div class="texts">
                        <p>
                            App nextbet hỗ trợ rất nhiều các hình thức thanh toán khác nhau. Việc này sẽ tạo điều kiện thuận lợi nhất cho cược thủ. Người chơi có thể thực hiện thanh toán bằng việc sử dụng ngân hàng hoặc thẻ. Mọi thao tác giao dịch trên app đều diễn ra vô cùng nhanh chóng.
                        </p>
                    </div>
                    <h3>1.5. Giao diện trên App dễ dàng tham gia cá cược</h3>
                    <div class="texts">
                        <p>
                            nextbet sở hữu đội ngũ nhân viên giàu kinh nghiệm và đầy tiềm năng sáng tạo. Vì thế, giao diện của nhà cái được thiết kế thông minh, bố cục bày trí hợp lý, màu sắc kết hợp hài hoà. Từ đó, cược thủ có thể thực hiện các thao tác đăng ký, nạp và rút tiền nhanh chóng, dễ dàng. Do vậy, lượng tải app nextbet đã đạt đến con số cực khủng và không có dấu hiệu giảm.
                        </p>
                    </div>
                    <h2>2. Hướng dẫn các bước Tải App nextbet về điện thoại di động </h2>
                    <div class="texts">
                        <p>
                            Để thực hiện tải app nextbet, người chơi chỉ cần thực hiện theo đúng các bước dưới đây. Cụ thể:
                        </p>
                    </div>
                    <h3>2.1. Tải app nextbet với hệ điều hành Android</h3>
                    <div class="texts">
                        <p>
                            Đối với những người chơi sử dụng hệ điều hành Android, việc tải xuống app nextbet vô cùng đơn giản. Anh em chỉ cần thực hiện theo những bước được đề cập dưới đây:
                        </p>
                    </div>
                    <div class="img-center">
                        <div class="images">
                            <img src="../img/44.png" alt="">
                            <p>Tải app nextbet với hệ điều hành Android</p>
                        </div>
                    </div>
                    <ul class="lest">
                        <li>Bước 1: Truy cập vào giao diện trang chủ chính của nextbet.</li>
                        <li>Bước 2: Tìm kiếm mục Download hay tải app. Chúng thường xuất hiện ngay ở menu chính hoặc ở cuối trang.</li>
                        <li>Bước 3: Lựa chọn biểu tượng Android để tiến hành tải tệp có chứa đuôi .apk của app nextbet.</li>
                        <li>Bước 4: Sau khi hoàn thành quá trình tải xuống. Từ thông báo hay thư mục Download, anh em mở tệp cài đặt trên thiết bị điện thoại.</li>
                        <li>Bước 5: Trường hợp thiết bị di động chặn việc cài đặt từ các nguồn không xác định. Hãy click vào “Settings” > “Security > bật tuỳ chọn “Unknown sources”. Tiếp đó, quay trở lại nhấn Install để bắt đầu cài đặt.</li>
                        <li>Bước 6: Khi thực hiện cài đặt hoàn tất, mở ứng dụng nextbet từ màn hình chính. Đồng thời, đăng nhập vào tài khoản cá cược của anh em. Trường hợp chưa có tài khoản, người chơi có thể click vào “Register” và thực hiện theo hướng dẫn để tạo.</li>
                    </ul>
                    <h3>2.2. Tải app nextbet với hệ điều hành IOS</h3>
                    <div class="texts">
                        <p>
                            Để tải app nextbet cho thiết bị sử dụng hệ điều hành IOS. Người chơi hãy làm theo các bước được chia sẻ dưới đây
                        </p>
                    </div>
                    <div class="img-center">
                        <div class="images">
                            <img src="../img/33.png" alt="">
                            <p>Tải app nextbet với hệ điều hành IOS</p>
                        </div>
                    </div>
                    <ul class="lest">
                        <li>Bước 1: Mở ứng dụng app store trên thiết bị di động.</li>
                        <li>Bước 2: Tìm kiếm từ khoá nextbet trên thanh công cụ đồng thời nhấn search.</li>
                        <li>Bước 3: Tại danh sách kết quả, tìm ứng dụng nextbet với logo vô cùng quen thuộc. Nhần get để tải xuống.</li>
                        <li>Bước 4: Sau khi để hoàn thành quá trình tải xuống, ứng dụng sẽ xuất hiện trên giao diện chính của người chơi.</li>
                    </ul>
                    <h2>3. Mẹo tải app nextbet nhanh nhất cho người chơi mới</h2> 
                    <div class="texts">
                        <p>
                            Các bước tải app nextbet được đánh giá là tương đối đơn giản. Người chơi chỉ cần tìm hiểu kỹ lưỡng và thực hiện đúng theo từng bước. Tuy nhiên, để không gặp phải những sai sót trong việc cài đặt app. Anh em nên ghi những một số mẹo dưới đây.
                        </p>
                    </div>
                    <div class="images">
                        <img src="../img/55.png" alt="">
                        <p>Mẹo tải app nextbet nhanh chóng nhất</p>
                    </div>
                    <h3>3.1. Kiểm tra đường truyền Internet</h3>
                    <div class="texts">
                        <p>
                            Trước khi tải app, anh em cần kiểm tra đường truyền kết nối mạng của mình. Người chơi hãy chắc chắn rằng nó luôn trong trạng thái ổn định và không bị giật lag. Việc này sẽ giúp quá trình tải ứng dụng được diễn ra thuận lợi và tiết kiệm thời gian.
                        </p>
                    </div>
                    <h3>3.2. Kiểm tra dung lượng trống của bộ nhớ </h3>
                    <div class="texts">
                        <p>
                            Dung lượng bộ nhớ đóng vai trò vô cùng trong quá trình tải app nextbet. Anh em nên kiểm tra để xác định xem chúng có đáp ứng đủ hay không. Nếu bị thiếu dung lượng, quá trình tải sẽ gián đoạn và không thể thực hiện thành công. Vì vậy, người chơi cần phải chú trọng đến vấn đề trên.
                        </p>
                    </div>
                    <h3>3.3. Lựa chọn phiên bản app tương thích với hệ điều hành</h3>
                    <div class="texts">
                        <p>
                            Hiện nay, nextbet cung cấp 2 phiên bản app dành riêng cho hệ điều hành Android và IOS. Đây là 2 nền tảng phổ biến trên điện thoại có số lượng người dùng cực lớn. Vì vậy, khi tải app, người chơi phải lựa chọn phiên bản tương thích với hệ điều hành mà mình sử dụng.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Nếu chọn sai, quá trình cài đặt app sẽ diễn ra thất bại. Việc này không chỉ làm cho trải nghiệm của anh em bị gián đoạn mà còn tốn nhiều thời gian. 
                        </p>
                    </div>
                    <h3>3.4. Truy cập vào đường link nextbet Games do nhà cái cung cấp </h3>
                    <div class="texts">
                        <p>
                            Anh em phải thật cẩn trọng trước những đường link giả tạo. Người chơi rất dễ tải về những ứng dụng có chứa mã độc hay malware gây hại cho thiết bị. Để ngăn chặn tình trạng này, cược thủ nên sử dụng đường link do nhà cái cung cấp để đảm bảo an toàn tuyệt đối.
                        </p>
                    </div>
                    <h2>4. Kết luận</h2>
                    <div class="texts">
                        <p>
                            Bài viết phía trên là hướng dẫn chi tiết về cách tải app nextbet mà chúng tôi muốn chia sẻ đến tất cả người chơi. Đặc biệt là với những anh em tân thủ. Hy vọng rằng, những thông tin này sẽ anh em dễ dàng hơn trong việc cài đặt trải nghiệm ứng dụng. nextbet.dog chúc cược thủ có được những giây phút cá cược ấn tượng trên app.
                        </p>
                    </div>
                    
                </div>
           </div>
           <!-- rigth -->
           <div class="rigth">
            <div class="content-rigth">
                <div class="folder">
                    <span><i class="fa-regular fa-folder-open"></i> CHUYÊN MỤC</span>
                </div>
                <div class="links-rigth">
                    <div class="links">
                        <div class="text">
                            <a href="../components/cas.html"><i class="fa-solid fa-chevron-right"></i> Casino</a>
                        </div>
                        <div class="number">
                            <a href="#">(33)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/da.html"><i class="fa-solid fa-chevron-right"></i> Đá gà</a>
                        </div>
                        <div class="number">
                            <a href="#">(18)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/hu.html"><i class="fa-solid fa-chevron-right"></i> Hướng dẫn</a>
                        </div>
                        <div class="number">
                            <a href="#">(4)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/the.html"><i class="fa-solid fa-chevron-right"></i> Thể thao</a>
                        </div>
                        <div class="number">
                            <a href="#">(22)</a>
                        </div>                        
                    </div>
                    <div class="links">
                        <div class="text">
                            <a href="../components/xo.html"><i class="fa-solid fa-chevron-right"></i> Xổ số</a>
                        </div>
                        <div class="number">
                            <a href="#">(10)</a>
                        </div>                        
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-database"></i> BÀI VIẾT MỚI NHẤT</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 18.png" alt="">
                        </div>
                        <div class="desc">
                            Khám Phá Chi Tiết Dòng Gà Chọi Hắc Hổ Thới Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Cực Chuẩn Cách Xem Tướng Gà Chọi Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 95.png" alt="">
                        </div>
                        <div class="desc">
                            Đề Chạm Là Gì? Thể Loại Và Cách Chơi Chắc Thắng Từ nextbet
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 20.png" alt="">
                        </div>
                        <div class="desc">
                            Gà Ngũ Sắc Là Gì? Cách Phân Biệt và Nơi Mua Uy Tín Tại nextbet
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-solid fa-check"></i></i> BÀI VIẾT CÙNG CHỦ ĐỀ</span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 19.png" alt="">
                        </div>
                        <div class="desc">                              Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <span><i class="fa-regular fa-star"></i> HƯỚNG DẪN HỘI VIÊN
                    </span>
                </div>
                <div class="bai-content">
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 46.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Rút Tiền nextbet Chỉ Trong 2 Phút Nhanh Chóng
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 47.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Thao Tác Nạp Tiền nextbet Chi Tiết Nhất Cho Bạn
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 48.png" alt="">
                        </div>
                        <div class="desc">               
                        Hướng Dẫn Chi Tiết Cách Tải App nextbet Trên Android & IOS
                        </div>
                    </div>
                    <div class="bai">
                        <div class="image">
                            <img src="../img/Artboard 49.png" alt="">
                        </div>
                        <div class="desc">
                            Hướng Dẫn Đăng Ký nextbet Chi Tiết Và Nhanh Chóng Nhất
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="../components/the.html"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>