<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NEXTBET.dog là nhà cái uy tín hàng đầu tại Châu Á cung cấp các sản phẩm cá cược như: Casino, Thể thao, Xổ số, Đá gà Thomo trực tuyến. Đăng ký ngay!">
    <meta name="keywords" content="NEXTBET.dog sân chơi cá cược hàng đầu tại Việt Nam : Xóc đĩa,Thể thao,Bắn cá,Xổ số,Đá gà,Nổ hũ,Tài xỉu">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/the.css">
    <link rel="icon" href="../img/logobj88.png">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>nextbet Nhà Cái Casino Uy Tín | Đá Gà Trực Tiếp Số 1 Châu Á</title>
</head>
<body>

    <!-- header -->
    <div class="header">
        
        <!-- head-item  -->
        <div class="head-item">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div onclick="url()" class="logo">
                <a href="../index.html"><img src="../img/logobj88.png"></a>
            </div>


            <div class="nav-list ">
                    <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                    <a href="../components/hu.html" class="links ">Hướng dẫn <i class="ion-chevron-down"></i></a>
                    <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                    <a href="#" class="links active">Thể thao <i class="ion-chevron-down"></i></a>
                    <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                    <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>

            </div>

            <div class="log-item">
                <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
            </div>  
        </div>
        <nav id="nav">
            <div class="close-icon">
                <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
            </div>
            <ul class="nav-lists ">
                <a href="../index.html" class="links">Trang chủ <i class="ion-chevron-down"></i></a>
                <a href="../components/hu.html" class="links">Hướng dẫn <i class="ion-chevron-down"></i></a>
                <a href="../components/cas.html" class="links">Casino <i class="ion-chevron-down"></i></a>
                <a href="#" class="links active">Thể thao <i class="ion-chevron-down"></i></a>
                <a href="../components/xo.html" class="links">Xổ số <i class="ion-chevron-down"></i></a>
                <a href="../components/da.html" class="links">Đá gà <i class="ion-chevron-down"></i></a>
            </ul>
        </nav>
        <div class="btncenter ">
            <a href="https://www.hay88.one/?inviteCode=8265052" class="yellow">ĐĂNG KÝ</a>
                <a href="https://www.hay88.one/?inviteCode=8265052" class="white">ĐĂNG NHẬP</a>
        </div>
        
    </div>
    <!-- end of header -->

    <!-- hero -->
    <section class="container">
        <div class="content">
            <p><span>Trang chủ</span> » Thể thao</p>
            <h1>THỂ THAO</h1>
            <div class="grid-3x1">
                <article class="box">
                    <a href="../components/the1.html" class="image">
                        <img src="../img/Artboard 76.png" alt="">
                    </a>
                    <div class="desc">
                        <div class="title">
                            Tài Xỉu ¾ Nghĩa Là Sao ? Cách Chơi Tài Xỉu 3/4 Chuẩn Từ nextbet
                        </div>
                        <p>Tài xỉu ¾ được khá nhiều nhà cái ưa chuộng và phát triển. Chủ yếu hoạt động trên các nền tảng nhà cái</p>
                    </div>
                </article>
                <article class="box">
                    <a href="../components/th2.html" class="image">
                        <img src="../img/Artboard 77.png" alt="">
                    </a>
                    <div class="desc">
                        <div class="title">
                            Kèo Phạt Góc Là Gì? Những Loại Kèo Phạt Góc Hiện Nay
                        </div>
                        <p>Với người chơi mới tham gia chắc hẳn đều thắc mắc kèo phạt góc là gì. Đồng thời kèo phạt góc có những</p>
                    </div>
                </article>
                <article class="box">
                    <a href="../components/the3.html" class="image">
                        <img src="../img/Artboard 78.png" alt="">
                    </a>
                    <div class="desc">
                        <div class="title">
                            AsianBookie Tại nextbet – Diễn Đàn Cá Cược Bóng Đá Top 1
                        </div>
                        <p>AsianBookie là hệ thống hướng dẫn cá cược bóng đá được nhiều cược thủ truy cập. Chúng có nhiều ứng dụng và mang</p>
                    </div>
                </article>
                <article class="box">
                    <a href="../components/the4.html" class="image">
                        <img src="../img/Artboard 79.png" alt="">
                    </a>
                    <div class="desc">
                        <div class="title">
                            The Kop Là Gì? Thông Tin Thú Vị Về The Kop Tại nextbet
                        </div>
                        <p>The Kop là gì chắc hẳn là điều mà rất nhiều anh em đang còn thắc mắc. Vậy biệt danh này là của</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <footer class="footer-content">
        <div class="footer">
            <div class="grid-footer">
                <article class="box">
                    <div class="title">
                        <h2>
                            CHUYÊN MỤC
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/hu.html"><i class="fa-solid fa-angle-right"></i> Hướng dẫn</a>
                        <a href="../components/cas.html"><i class="fa-solid fa-angle-right"></i> Casino</a>
                        <a href="#"><i class="fa-solid fa-angle-right"></i> Thể thao</a>
                        <a href="../components/xo.html"><i class="fa-solid fa-angle-right"></i> Xổ số</a>
                        <a href="../components/da.html"><i class="fa-solid fa-angle-right"></i> Đá gà</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>    
                            HƯỚNG DẪN
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/dangky.html"><i class="fa-solid fa-angle-right"></i> Đăng Ký nextbet</a>
                        <a href="../components/tai.html"><i class="fa-solid fa-angle-right"></i> Tải App nextbet</a>
                        <a href="../components/nap.html"><i class="fa-solid fa-angle-right"></i> Nạp Tiền nextbet</a>
                        <a href="../components/rut.html"><i class="fa-solid fa-angle-right"></i> Rút Tiền nextbet</a>
                        <img src="../img/f1.png" alt="">
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            VỀ CHÚNG TÔI
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="../components/gio.html"><i class="fa-solid fa-angle-right"></i> Giới thiệu</a>
                        <a href="../components/lie.html"><i class="fa-solid fa-angle-right"></i> Liên hệ</a>
                        <a href="../components/chi.html"><i class="fa-solid fa-angle-right"></i> Chính sách bảo mật</a>
                        <a href="../components/die.html"><i class="fa-solid fa-angle-right"></i> Điều khoản và điều kiện</a>
                        <a href="../components/cho.html"><i class="fa-solid fa-angle-right"></i> Chơi có trách nhiệm</a>
                        <a href="../components/mie.html"><i class="fa-solid fa-angle-right"></i> Miễn trừ trách nhiệm</a>
                        <a href="../components/quy.html"><i class="fa-solid fa-angle-right"></i> Quyền riêng tư</a>
                        <a href="../components/hop.html"><i class="fa-solid fa-angle-right"></i> Hợp tác đại lý</a>
                    </div>
                </article>
                <article class="box">
                    <div class="title">
                        <h2>
                            THÔNG TIN LIÊN HỆ
                        </h2>
                    </div>
                    <div class="desc">
                        <a href="#">Website: https://nextbet.dog/</a>
                        <a href="#">Địa chỉ: 82 Trương Định, Phường 9, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</a>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <img src="../img/f2.png" alt="">
                </article>
            </div>
            <div class="image-footer">
                <div class="image">
                    <img src="../img/f3.png" alt="">
                </div>
                <img src="../img/f4.png" alt="">
            </div>
            <p class="copy" >Copyright 2024 <i class="fa-regular fa-copyright"></i> nextbet.dog</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="../js/app.js"></script>
</body>
</html>